@page "{id:guid}"
@model CCC.website.Pages.EventDetailsPageModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
    ViewData["Title"] = "Ride Event Details";
}
@section Scripts
    {
    <script>
        $(
            function () {
                document.addEventListener("signup", (e) => {
                    console.log(e);
                    var postSubmit = $.ajax({
                        type: "POST",
                        headers: { "RequestVerificationToken": '@token' },
                        url: "?handler=Signup",
                        data: { rideId: e.detail.rideId, role: e.detail.role }

                    }).done(function (response) {
                        window.location.href = window.location.pathname+"?"+$.param({'activeTab':`list-${e.detail.rideId}`});
                    });
                })

                document.addEventListener("dropout", (e) => {
                    console.log(e);
                    var postSubmit = $.ajax({
                        type: "POST",
                        headers: { "RequestVerificationToken": '@token' },
                        url: "?handler=Dropout",
                        data: { rideId: e.detail.rideId, role: e.detail.role }

                    }).done(function (response) {
                        window.location.href = window.location.pathname+"?"+$.param({'activeTab':`list-${e.detail.rideId}`});
                    });
                })

                const triggerTabList = document.querySelectorAll('#list-tab a')
                triggerTabList.forEach(triggerEl => {
                    const tabTrigger = new bootstrap.Tab(triggerEl)

                    triggerEl.addEventListener('click', event => {
                        event.preventDefault()
                        tabTrigger.show()
                    })
                });

                const urlParams = new URLSearchParams(window.location.search);
                const activeTab = urlParams.get('activeTab');
                console.log("active Tab", activeTab);
                const triggerEl = document.querySelector(`#list-tab a[href="#${activeTab}"]`)
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }
        );
    </script>
}

<h3>The Event Details!</h3>

@* @Html.DisplayFor(model => model.RideEvent,"RideEventViewModelDetails", Model.ExtraData) *@
@Html.DisplayFor(model => model.RideEvent,"RideEventViewModelDetails2", Model.ExtraData)