@page
@model CCC.website.Pages.GroupRides.CreatePageModel
@{
}
<div class="row">
    Create a new group ride
</div>
@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.CreateModel, "GroupRideCreateModel")
    ;
    <input id="Submit" type="submit" value="submit" />
}