@page "{id:guid}"
@using CCC.Entities
@using CCC.website.Models
@model CCC.website.Pages.GroupRides.EditPageModel

@{
    ViewData["Title"] = "Edit GroupRide Listing";
}

@section Scripts
{
    <script>
    function SayHello()
    {
        alert("hello world")
    }
    </script>
}

<div class="row">
    GroupRide Details
</div>
<div class="row">
    @Html.DisplayFor(model => model.GroupRide,"GroupRideDetails")
</div>
<div class="row">
    Edit Group Ride Metadata

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.GroupRide, "GroupRide")
        <input id = "Submit" type = "submit" value = "submit" />
    }
</div>

<p> </p>

<div class="row">
    Delete GroupRide?
</div>
<div>
    @using (Html.BeginForm())
    {
        <input asp-page-handler="Delete" id = "Delete" type="submit" value = "Delete GroupRide" />
    }
</div>
