@model CCC.Entities.BikeRoute

Route - <a asp-page="/BikeRoutes/Details" asp-route-id=@Model.Id>@Html.DisplayFor(model=> Model.Name)</a> - @Html.DisplayFor(mode => Model.Distance) miles - <a href=@Html.Raw(Model.RideWithGPSLink)>Ride With GPS</a>  - <a href=@Html.Raw(Model.GarminConnectLink)>Garmin Connect</a>