@model CCC.Entities.CoordinatorEntry

    <div class="col-md-4">
        Signed Up: @Html.DisplayFor(model => model.CoordinatorIds.Count) / Required: @Html.DisplayFor(model => model.RequiredCount) - All Set?: @Html.DisplayFor(model => model.RequiredCountMet)
    </div>
