@model CCC.Entities.CoordinatorEntry
<div class="row">
    <div class="col">
        Required: @Html.DisplayFor(model => model.RequiredCount)
    </div>
    <div class="col">
        Met: @Html.DisplayFor(model => model.RequiredCountMet)
    </div>
</div>