@page

@model CCC.website.Pages.Events.IndexPageModel
@using CCC.Authorization
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
  var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
  ViewData["Title"] = "Event Listing";
}
@section StyleSheets
  {
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
}


@section Scripts
  {
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
  <script src="~/js/ajax-data.js" asp-append-version="true"></script>

  <script>
    function operateFormatter(value, row, index) {
      @* console.log("operateFormatter was called", { value, row, index }); *@
      let output = [];
      @if(User.IsContributor())
      {
        @: output.push(`<a href="Edit/${row.id}" title="Edit"><i class="fa-solid fa-pen-to-square fa-2xl ccc-green"></i></a>&ensp;`);
      }
      output.push(`<a href="Details/${row.id}" title="Details"><i class="fa-solid fa-circle-info fa-2xl ccc-pink"></i></a>&ensp;`);
      return output.join('');

    }

    $(function() {
        var $table = $('#rideEventTable')
        console.log( "adding onClickRow event" );
        $table.bootstrapTable({
          onClickRow: function(row, $element, field) {
            console.log("row clicked ", row); 
            location.assign(`/Events/Details/${row.id}`);
          }
        });

    });
  </script>

}
<h3>You wanna go ride bikes?</h3>

@* <table data-toggle="table" data-search="true" data-data-type="json" data-ajax="fetchRideEvents" data-pagination="true" *@
<table data-search="true" data-data-type="json" data-ajax="fetchRideEvents" data-pagination="true"
  data-sort-name="name"
  data-sort-order="asc"
  class="table" id="rideEventTable">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="location" data-sortable="true">Location</th>
      <th data-field="startTime" data-sortable="true">Time</th>
      <th data-field="operate" data-formatter="operateFormatter" >Actions</th>
    </tr>
  </thead>
</table>
@if(User.ShowCrudOperations())
{
    <div>
    <a asp-page="/Events/Create" class="btn btn-primary btn-lg" role="button" ><i class="fa-solid fa-circle-plus"></i> Create Event</a>
    </div>
}
@* 
<h3>Hello World</h3>
@foreach(var route in Model.RideEvents)
{
    @Html.DisplayFor(modelItem => route,"RideEventOverview")
    <div class="row">
        <a asp-page="Edit" asp-route-id="@route.Id">Edit</a><br>
        <a asp-page="Details" asp-route-id="@route.Id">Details</a><br>
    </div>
}    *@