@page
@model CCC.website.Pages.BikeRoutes.CreatePageModel
@{
}
<div class="row">
    Create a new bike route
</div>
@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.CreateModel, "BikeRouteCreateModel")
    ;
    <input id="Submit" type="submit" value="submit" />
}