@page "{id:guid}"
@model CCC.website.Pages.BikeRoutes.DetailsPageModel
@{
    ViewData["Title"] = "Route Listing";
}

<h3>The Bike Route!</h3>

@Html.DisplayFor(model => model.BikeRoute,"BikeRouteDetails")
