@page
@model CCC.website.Pages.BikeRoutes.IndexPageModel
@using CCC.Authorization
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
  var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
  ViewData["Title"] = "Route Listing";
}

@section StyleSheets
  {
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
}

@section Scripts
  {
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
  <script src="~/js/ajax-data.js" asp-append-version="true"></script>

  <script>
    function operateFormatter(value, row, index) {
      @* console.log("operateFormatter was called", { value, row, index }); *@
      let output = [];

      output.push('<a class="toggle-favorite-route" href="javascript:void(0)" title="Favorite">');
      favoriteText = row.isFavorite ? "fa-solid" : "fa-regular";
      output.push(`<i class="${favoriteText} fa-thumbs-up fa-xl ccc-green"></i></a>&nbsp;`);
  
      output.push(`<a href="Details/${row.id}" title="Details"><i class="fa-solid fa-bicycle fa-xl ccc-pink"></i></a>`);
      return output.join('');

    }

    var $table = $('#bikeRouteTable')

    function toggleFavoriteRoute(row) {
      console.log("Toggling favorite for row", row);
      if(row.isFavorite)
      {
        $.ajax({
          type: "POST",
          headers: { "RequestVerificationToken": '@token' },
          url: "?handler=RemoveFavoriteRoute",
          data: { routeId: row.id}
        }).done(function (response) {
          @* console.log("Remove Favorite complete"); *@
          $table.bootstrapTable('refresh')
        });
      }
      else
      {
        $.ajax({
          type: "POST",
          headers: { "RequestVerificationToken": '@token' },
          url: "?handler=AddFavoriteRoute",
          data: { routeId: row.id}
        }).done(function (response) {
          @* console.log("Add Favorite complete"); *@
          $table.bootstrapTable('refresh')
        });   
      }
    }

    $('#filterByDistance').click(function () {
      var min = document.getElementById("minDistance").value;
      var max = document.getElementById("maxDistance").value;
      $table.bootstrapTable('filterBy', {
        //no filters here, just the algo
      }, {
        'filterAlgorithm': (row, filters) => {
        return (row.distance >= min) && (row.distance <= max);
      }
      })
    });

    $('#clearDistanceFilter').click(function() {
      $table.bootstrapTable('filterBy', { }, {'filterAlgorithm': 'and'});
    })
    operateEvents = {
      'click .toggle-favorite-route': function (e, value, row, index) {
        toggleFavoriteRoute(row);
      },
      
      'click .route-details': function (e, value, row, index) {
        location.href = `BikeRoutes/Details/${row.id}`;
      }
    }
  </script>

}
<h3>I didn't know you liked Bike Routes</h3>

@* ajax version with pagination *@
<table data-toggle="table" data-search="true" data-data-type="json" data-ajax="fetchBikeRoutes" data-pagination="true"
  data-sort-name="name"
  data-sort-order="asc"
  class="table" id="bikeRouteTable">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="distance" data-sortable="true">Mileage</th>
      <th data-field="description">Description</th>
      <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
    </tr>
  </thead>
</table>

@* Custom Milage filters *@
<style>
#select {
  width: 100px;
  display: inline-block;
}
</style>

<div class="toolbar">
  Distance - 
  <label for="minDistance">Min:</label>
  <input type="number" id="minDistance" name="minDistance">
  <label for="maxDistance">Min:</label>
  <input type="number" id="maxDistance" name="maxDistance">
  <button class="btn btn-secondary" id="filterByDistance">Filter</button>
  <button class="btn btn-secondary" id="clearDistanceFilter">Clear</button>
</div>


@* Static table version *@
@* <table data-toggle="table" data-search="true" data-pagination="true" class="table" id="table2">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="distance" data-sortable="true">Mileage</th>
      <th data-field="description">Description</th>
      <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var route in Model.Routes)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => route.Name)</td>
        <td>@Html.DisplayFor(modelItem => route.Distance)</td>
        <td>@Html.DisplayFor(modelItem => route.Description)</td>
        <td></td>
      </tr>
    }
  </tbody>
</table> *@
