@page
@model CCC.website.Pages.Hello.IndexPageModel
@{
    ViewData["Title"] = "Hello World";
}

<p>Hello There,</p>
<P>General Kanobi!</P>

<div>
    API Status: @Html.DisplayFor( model => model.APIStatus)
</div>