@page "{id:guid}"
@using CCC.Entities
@using CCC.website.Models
@model CCC.website.Pages.RideEvents.EditPageModel

@{
    ViewData["Title"] = "Edit RideEvent Listing";
}


<div class="row">
    Ride Event Details
</div>
<div class="row">
    @Html.DisplayFor(model => model.RideEvent,"RideEventDetails")
</div>
<div class="row">
    Edit Ride Event Metadata

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.RideEvent, "RideEvent")
        <input id = "Submit" type = "submit" value = "submit" />
    }
</div>

<p> </p>

<div class="row">
    Delete Event?
</div>
<div>
    @using (Html.BeginForm())
    {
        <input asp-page-handler="Delete" id = "Delete" type="submit" value = "Delete Event" />
    }
</div>
