@page

@model CCC.website.Pages.RideEvents.ListViewPageModel
@{
    ViewData["Title"] = "Route Listing";
}

<h3>Hello World</h3>
@foreach(var route in Model.RideEvents)
{
    @Html.DisplayFor(modelItem => route,"RideEventOverview")
    <div class="row">
        <a asp-page="Edit" asp-route-id="@route.Id">Edit</a><br>
        <a asp-page="Details" asp-route-id="@route.Id">Details</a><br>
    </div>
}   